@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

.dash-projeto .container-fluid
    padding: 0

.row
    margin: 0

body
    background: #EEEFF1

.dash-projeto
    display: flex
    width: 100%

.dash-projeto h1
    color: #16233E
    font-family: Poppins
    font-size: 35px
    font-weight: 600
    margin: 40px 0 20px

.dashboard-content
    padding-left: 30px
    width: 100%

.bloco-metricas
    text-align: center
    height: 357px
    border-radius: 15px
    background: #F6F8FF
    box-shadow: 0px 3.352px 3.352px 0px rgba(0, 0, 0, 0.05)
    padding:45px 20px 31px

.caixa-metricas
    display: flex
    gap: 12px

.metricas
    display: flex
    flex-direction: column
    width: 50%

.metricas h2
    text-align: center
    font-family: 'Poppins', sans-serif
    font-size: 16px
    font-weight: 600
    margin-bottom:15px

.titulo-velocidade
    color: #3686FF

.titulo-estabilidade
    color: #6A5FFF

.espaco-cards
    display: flex
    gap: 14px

.card
    height: 212px
    width: 50%
    border-radius: 10px
    box-shadow: 0px 1.921px 1.921px 0px rgba(0, 0, 0, 0.05)
    gap: 17px
    padding: 35px 13px 44px

.velocidade
    background: #5182FF

.estabilidade
    background: #6A5FFF

.titulo-card
    color:#FFF
    text-align: center
    font-family: Poppins
    font-size: 14px
    font-weight: 600

.text-number
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 18px
    font-weight: 500
    display: flex
    flex-direction: column
    align-items: center


.text-number span
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 40px
    font-weight: 700

.text-porcent
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 39px
    font-weight: 700
    line-height: 127.5%

.text-porcent span
    font-size: 30px
    color: #FFF

.text-date
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 40px
    font-weight: 700
    line-height: 127.5%

.text-resumo
    display: flex
    justify-content: flex-end

.bloco-jornada
    background: #F6F8FF
    border-radius: 15px
    box-shadow: 0px 3.352px 3.352px 0px rgba(0, 0, 0, 0.05)
    height: 357px
    margin-right: 31px
    padding: 0 30px 32px

.bloco-jornada h2
    color: #141414
    font-family: Poppins
    font-size: 18px
    font-weight: 600
    padding: 26px 0 14px

.jornada-progress
    border-radius: 10px
    background: #16233E
    box-shadow: 0px 1.921px 1.921px 0px rgba(0, 0, 0, 0.05)
    display: flex
    flex-direction: column
    gap: 9px
    height: 77px
    justify-content: center

.jornada-level
    display: flex
    justify-content: space-around

.jornada-level span
    color: #8892A7
    font-family: Poppins
    font-size: 14px
    font-weight: 500

.jornada-bar-content
    margin: 0 auto
    width: 90%

.jornada-bar
    border-radius: 10px
    background-color: #D9D9D9
    height: 2.5px
    position: relative
    width: 100%

.jornada-goal
    background-color: #12C3FF
    border-radius: 10px
    height: 2.5px

.saude-operacao
    padding-top: 13px
    margin-bottom: 10px

.saude-operacao h3
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-weight: 600
    margin-bottom: 5px

.saude-operacao-content
    align-items: center
    display: flex
    gap: 8px

.nivel-saude
    background-color: #FFD81E
    border-radius: 100px
    color: #141414
    font-family: Poppins
    font-size: 12px
    font-weight: 600
    padding: 4px 18px

.rate-saude
    color: #141414
    font-family: Poppins
    font-size: 16px
    font-weight: 700

.bloco-inferior
    display: flex
    gap: 10px

.jornada-cards-space
    display: flex
    gap: 10px
    width: 65%

.jornada-card
    background-color: #3686FF
    border-radius: 10px
    box-shadow: 0px 1.921px 1.921px 0px rgba(0, 0, 0, 0.05)
    height: 106px
    padding: 19px 17px 34px
    width: 50%

.jornada-card h3
    color: #FFF
    font-family: Poppins
    font-size: 14px
    font-weight: 600
    margin-bottom: 10px

.rate-value-4key
    display: flex
    justify-content: space-between

.rate-value-4key span
    color: #FFF
    font-family: Poppins
    font-size: 12px
    font-weight: 500

.jornada-card-bar-content
    margin: 0 auto

.jornada-card-bar
    border-radius: 10px
    background-color: #222
    height: 5px
    position: relative
    width: 100%

.jornada-card-goal
    background-color: #FFF
    border-radius: 10px
    height: 5px

.espaco-capacidades-recomendadas
    display: flex
    flex-direction: column
    gap: 10px
    width: 40%

.espaco-capacidades-recomendadas h3
    bottom: 25px
    color: #141414
    text-align: center
    font-family: Poppins
    font-size: 14px
    font-weight: 600
    position: relative

.capacidades-recomendadas-card
    background-color: #8892A7
    border-radius: 10px
    height: 106px
    overflow-y: auto
    padding: 20px 0
    scrollbar-width: none
    -ms-overflow-style: none
    position: absolute
    width: 15.50%

.capacidades-recomendadas-card::-webkit-scrollbar
    display: none

.capacidades-recomendadas-card ul
    display: flex
    flex-direction: column
    gap: 7px
    list-style-type: disc
    margin: 0

.capacidades-recomendadas-card ul li
    color: #141414
    font-family: Poppins
    font-size: 12px
    font-weight: 500

.bloco-geral
    margin-top:30px


.bloco-cultura
    border-radius: 15px
    background: #F6F8FF
    box-shadow: 0px 3.352px 3.352px 0px rgba(0, 0, 0, 0.05)
    width: 100%
    height: 350px
    margin-top: 30px
    padding: 0 50px 55px 35px
    
.titulo-cultura
    color: #141414
    font-family: Poppins
    font-size: 18px
    font-style: normal
    font-weight: 600
    line-height: normal
    padding: 35px 39px

.metricas-maturidade
    position: relative
    bottom: 55px



.culturas-texto
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-weight: 400
    margin-bottom:1px
    
    
    

.culturas-textos
    text-align: right
    max-width: 260px
    position: relative
    bottom: 100px
    right: 70px
   

.pontilhado-cultura 
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 275px
    top: 20px
    
.pontilhado-cultura2
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 347px
    top: 20px

.pontilhado-cultura3
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 422px
    top: 20px

.pontilhado-cultura4
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 498px
    top: 20px

.pontilhado-cultura5
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 575px
    top: 20px

.pontilhado-cultura6
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 653px
    top: 20px

.pontilhado-cultura7
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 731px
    top: 20px
    
.pontilhado-cultura8
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 808px
    top: 20px

.pontilhado-cultura9
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 885px
    top: 20px

.pontilhado-cultura10
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 963px
    top: 20px

.pontilhado-cultura11
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 139px
    left: 1041px
    top: 20px

.texto-boostrap
    text-align: right
    max-width: 290px

.ellipse-roxa
    width: 15px
    height: 15px
    border-radius:50%
    background-color: #6A5FFF
    position: relative
    left: 373px

.metricas-texto
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-style: normal
    font-weight: 400
    position: relative
    left: 410px
    bottom:18px

.ellipse-cinza
    width: 15px
    height: 15px
    border-radius:50%
    background-color: #D9D9D9
    position: relative
    left: 493px
    bottom:50px

.metricas-texto-esperado
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-style: normal
    font-weight: 400
    position: relative
    left: 530px
    bottom:68px

.numeros
    display: flex
    flex-direction: row
    position: relative
    bottom: 130px
    left: 171px
    
.barra-arq1
    width: 720px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:275px
    bottom:23px
    z-index:1

.barra-arq2
    width: 482px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left: 275px
    bottom: 23px
    z-index: 1

.barra-arq3
    width: 442px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:275px
    bottom:23px
    z-index:1
    
.barra-arq4
    width: 705px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left: 275px
    bottom: 23px
    z-index: 1

.barra1
    width: 395px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra2
    width: 400px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF


.barra3
    width: 136px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra4
    width: 505px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.tecnicas-num
    margin: 30px
    font-style: normal
    font-weight: 400
    line-height: normal


.progress-bar-content
    position: relative
    padding: 5px 0

.progress-bar
    width: 100%
    height: 20px
    border-radius: 10px
    background-color: #e2e2e2

.progress-goal
    height: 20px
    border-radius: 10px

.competencies .progress-goal
    background-color: #0f9caf

.courses .progress-goal
    background-color: #cd4e4e
    display: flex
    justify-content: flex-end
    align-items: center

.courses .progress-goal span
    margin: 0 8px
    color: #FFF
    font-size: 12px
    font-weight: 700


.goal-value
    position: absolute
    top: 0px
    width: 30px
    height: 30px
    background-color: #dbae2b
    border: 2px solid #FFF
    border-radius: 15px
    display: flex
    align-items: center
    justify-content: center

.goal-value span
    font-size: 12px
    font-weight: 700
    color: #fff
