@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

.dash-projeto .container-fluid
    padding: 0

.row
    margin: 0

body
    background: #EEEFF1

.dash-projeto
    display: flex
    width: 100%

.dash-projeto h1
    color: #16233E
    font-family: Poppins
    font-size: 35px
    font-weight: 600
    margin: 40px 0 20px

.dashboard-content
    padding-left: 30px
    width: 100%

.bloco-metricas
    text-align: center
    height: 357px
    border-radius: 15px
    background: #F6F8FF
    box-shadow: 0px 3.352px 3.352px 0px rgba(0, 0, 0, 0.05)
    padding:45px 20px 31px

.caixa-metricas
    display: flex
    gap: 12px

.metricas
    display: flex
    flex-direction: column
    width: 50%

.metricas h2
    text-align: center
    font-family: 'Poppins', sans-serif
    font-size: 16px
    font-weight: 600
    margin-bottom:15px

.titulo-velocidade
    color: #3686FF

.titulo-estabilidade
    color: #6A5FFF


.espaco-cards
    display: flex
    gap: 14px

.card
    height: 212px
    width: 50%
    border-radius: 10px
    box-shadow: 0px 1.921px 1.921px 0px rgba(0, 0, 0, 0.05)
    gap: 17px
    padding: 35px 13px 44px


.velocidade
    background: #5182FF

.estabilidade
    background: #6A5FFF

.titulo-card
    color:#FFF
    text-align: center
    font-family: Poppins
    font-size: 14px
    font-weight: 600


.text-number
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 18px
    font-weight: 500
    display: flex
    flex-direction: column
    align-items: center


.text-number span
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 40px
    font-weight: 700

.text-porcent
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 39px
    font-weight: 700
    line-height: 127.5%

.text-porcent span
    font-size: 30px
    color: #FFF

.text-date
    color: #FFF
    text-align: center
    font-family: Poppins
    font-size: 30px
    font-weight: 700
    line-height: 127.5%

.text-resumo
    display: flex
    justify-content: flex-end
