<section id="secao-dash-projeto">
  <div class="dash-projeto">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="bloco-metricas">
              <div class="caixa-metricas">
                <div class="metricas">
                  <h2 class="titulo-velocidade">Métricas de Velocidade</h2>
                  <div class="espaco-cards">
                    <div class="card velocidade">
                      <p class="titulo-card">Lead Time for Changes</p>
                      <p class="text-number"> <span>{{currentMaturidade.leadTime}}</span>dias</p>
                    </div>
                    <div class="card velocidade">
                      <p class="titulo-card">Deployment Frequency</p>
                      <p class="text-number"> <span>{{currentMaturidade.frequencyDeployment}}</span>dias</p>
                    </div>
                  </div>
                </div>
                <div class="metricas">
                  <h2 class="titulo-estabilidade">Métricas de Estabilidade</h2>
                  <div class="espaco-cards">
                    <div class="card estabilidade">
                      <p class="titulo-card">Change Failure Rate</p>
                      <p class="text-porcent">{{currentMaturidade.changeFailureRate}}%</p>
                    </div>
                    <div class="card estabilidade">
                      <p class="titulo-card">Mean Time to Recovery</p>
                      <p class="text-date">{{currentMaturidade.timeToRecovery}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-resumo">Dados baseados nos últimos 90 dias.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="jornada">
              <h2>Jornada de Transformação</h2>
              
            </div>
          </div>
        </div>
        <app-tecnica></app-tecnica>
        <div class="row">
          <div class="col-md-12">
            <div class="bloco-cultura">
              <h2 class="titulo-cultura">Cultura</h2>
              <div class="metricas-maturidade">
                <div class="ellipse-roxa"></div>
                <p class="metricas-texto">Atingido</p>
                <div class="ellipse-cinza"></div>
                <p class="metricas-texto-esperado">Esperado</p>
              </div>
              
              <div class="culturas-textos"> 
                <div class="pontilhado-cultura"></div>
                <p class="culturas-texto">Exp. Equipe</p>
                <div class="barra-arq1">
                  <div class="barra1"></div>
                </div>
                <div class="pontilhado-cultura2"></div>
                <p class="culturas-texto">Aprov Alter.</p>
                <div class="barra-arq2">
                  <div class="barra2"></div>
                </div>
                <div class="pontilhado-cultura3"></div>
                <p class="culturas-texto">Feedback</p>
                <div class="barra-arq3">
                  <div class="barra3"></div>
                </div>
                <div class="pontilhado-cultura4"></div>
                <p class="culturas-texto">Tran. Lote</p>
                <div class="barra-arq4">
                  <div class="barra4"></div>
                </div>
                <div class="pontilhado-cultura5"></div>
                <div class="pontilhado-cultura6"></div>
                <div class="pontilhado-cultura7"></div>
                <div class="pontilhado-cultura8"></div>
                <div class="pontilhado-cultura9"></div>
                <div class="pontilhado-cultura10"></div>
                <div class="pontilhado-cultura11"></div>
              </div>
              
              <div class="numeros">
                <p class="tecnicas-num">0</p>
                <p class="tecnicas-num">10</p>
                <p class="tecnicas-num">20</p>
                <p class="tecnicas-num">30</p>
                <p class="tecnicas-num">40</p>
                <p class="tecnicas-num">50</p>
                <p class="tecnicas-num">60</p>
                <p class="tecnicas-num">70</p>
                <p class="tecnicas-num">80</p>
                <p class="tecnicas-num">90</p>
                <p class="tecnicas-num">100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
</section>
