@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

.dash-projeto .container-fluid
    padding: 0

.row
    margin: 0

body 
    background: #EEEFF1

.dash-projeto
    display: flex
    width: 100%

.barra-esquerda
    align-items: center
    background: #FFFFFF
    display: flex
    flex-direction: column
    gap: 24px
    justify-content: center
    min-height: 100vh 
    width: 70px

.dash-projeto h1
    color: #16233E
    font-family: Poppins
    font-size: 35px
    font-weight: 600
    margin: 40px 0 20px

.botao-dash
    padding: 13px

.botao-um
    border-radius: 10px
    background: #6A5FFF

.botao-um img
    width: 20px

.botao-dois img
    width: 25px

.dashboard-content
    padding-left: 30px
    width: 100%

.bloco-metricas
    display: flex
    gap: 12px
    text-align: center

.metricas
    display: flex
    flex-direction: column
    width: 50%

.espaco-cards
    display: flex
    gap: 14px

.card
    height: 212px
    width: 50%