<section id="secao-dash-projeto">
  <div class="dash-projeto">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="campo-data-metrica">
              <h1>Dashboard</h1>
              <div class="filter">
                <div ngbDropdown>
                  <button type="button" id="dropdownMaturidades" ngbDropdownToggle>
                    {{ currentMaturidade ? ('Dash.Ops - ' + (formattedDate | date: 'dd/MM/yyyy HH:mm')) : 'Selecione'}}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMaturidades">
                    <button ngbDropdownItem *ngFor="let maturidadeData of maturidadeByEsteiraId; let i = index"
                      (click)="selecionarMaturidade(maturidadeData.id)">
                      {{'Dash.Ops - ' + (maturidadeData.dataHora | date: 'dd/MM/yyyy HH:mm')}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="bloco-metricas" (click)="open(content)"> <!-- adicione dentro da tag para reativar o modal (click)="open(content)" -->
              <div class="caixa-metricas">
                <div class="metricas">
                  <h2 class="titulo-velocidade">Métricas de Velocidade</h2>
                  <div class="espaco-cards">
                    <div class="card velocidade">
                      <p class="titulo-card">Lead Time for Changes</p>
                      <p class="text-number">
                        <span class="texto-metricas"
                          [ngStyle]="{'font-size': this.getFontSize(currentMaturidade?.leadTime)}">
                          {{currentMaturidade?.leadTime !== null ? currentMaturidade?.leadTime : 'sem dado'}}
                        </span>
                        {{currentMaturidade.leadTime !== null ? 'dias' : ''}}
                      </p>
                    </div>
                    <div class="card velocidade">
                      <p class="titulo-card">Deployment Frequency</p>
                      <p class="text-number">
                        <span class="texto-metricas"
                          [ngStyle]="{'font-size': this.getFontSize(currentMaturidade?.frequencyDeployment)}">
                          {{currentMaturidade?.frequencyDeployment !== null ? currentMaturidade?.frequencyDeployment :
                          'sem dado'}}
                        </span>
                        {{currentMaturidade.frequencyDeployment !== null ? 'por semana' : ''}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="metricas">
                  <h2 class="titulo-estabilidade">Métricas de Estabilidade</h2>
                  <div class="espaco-cards">
                    <div class="card estabilidade">
                      <p class="titulo-card">Change Failure Rate</p>
                      <p class="text-number">
                        <span class="texto-metricas"
                          [ngStyle]="{'font-size': this.getFontSizeFailureRate(currentMaturidade?.changeFailureRate)}">
                          {{currentMaturidade?.changeFailureRate !== null ? currentMaturidade?.changeFailureRate + '%':
                          'sem dado' }}
                        </span>
                      </p>
                    </div>
                    <div class="card estabilidade">
                      <p class="titulo-card">Mean Time to Recovery</p>
                      <p class="text-number">
                        <span class="texto-metricas"
                          [ngStyle]="{'font-size': this.getFontSize(currentMaturidade?.timeToRecovery)}">
                          {{currentMaturidade?.timeToRecovery ?? 'sem dado' }}
                        </span>
                        {{currentMaturidade?.timeToRecovery !== null ? 'horas' : ''}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-resumo"></p>
            <ng-template #content let-modal>
                <div class="modal-body custom-modal">
                  <h4 class="modal-title">Indicadores</h4>
                  <div class="painel-metricas-content">
                    <div class="left-panel">
                      <div class="card-modal ">
                        <div class="modal-card-title">
                          <h2>Lead Time</h2>
                        </div>
                        <div class="modal-card-content">
                          <div class="modal-card-content-smalltext">
                            <div class="content-item">
                              <span class="rectangle"></span>
                              <div>
                                  <span class="month">out.</span>
                                  <span class="days">16 dias</span>
                              </div>
                          </div>
                          <div class="content-item">
                              <span class="rectangle"></span>
                              <div>
                                  <span class="month">nov.</span>
                                  <span class="days">43 dias</span>
                              </div>
                          </div>
                          </div>
                          <div class="time-container">
                            <span class="time-month">este mês</span>
                            <span class="time-days">20 dias</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-modal">
                        <div class="modal-card-title deploy-fequency-title">
                          <h2>Freq. de Deploy</h2>
                        </div>
                        <div class="modal-card-content">
                          <div class="modal-card-content-smalltext deploy-frequency-smalltext">
                            <div class="content-item">
                              <span class="rectangle"></span>
                              <div>
                                <span class="month">out.</span>
                                <span class="days">4 meses</span>
                              </div>
                            </div>
                            <div class="content-item">
                              <span class="rectangle"></span>
                              <div>
                                <span class="month">nov.</span>
                                <span class="days">3 meses</span>
                              </div>
                            </div>
                          </div>
                          <div class="time-container deploy-frequency-time">
                            <span class="time-month">este mês</span>
                            <span class="time-days">6 deploys</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-modal mttr-card">
                        <div class="modal-card-title mttr-titulo">
                          <h2>MTTR</h2>
                        </div>
                        <div class="modal-card-content">
                          <div class="modal-card-content-smalltext mttr-smalltext">
                            <div class="content-item">
                              <span class="rectangle mttr-retangle"></span>
                              <div>
                                <span class="month">out.</span>
                                <span class="days">16 horas</span>
                              </div>
                            </div>
                            <div class="content-item">
                              <span class="rectangle mttr-retangle"></span>
                              <div>
                                <span class="month">nov.</span>
                                <span class="days">27 horas</span>
                              </div>
                            </div>
                          </div>
                          <div class="time-container mttr-time">
                            <span class="time-month">este mês</span>
                            <span class="time-days">8 horas</span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="card-modal tx-falhas-card">
                        <div class="modal-card-title tx-falha-title">
                          <h2>Taxa de Falhas</h2>
                        </div>
                        <div class="modal-card-content">
                          <div class="modal-card-content-smalltext tx-falha-smalltext">
                            <div class="content-item">
                              <span class="rectangle tx-falha-retangle"></span>
                              <div>
                                <span class="month">out.</span>
                                <span class="days">12%</span>
                              </div>
                            </div>
                            <div class="content-item">
                              <span class="rectangle tx-falha-retangle"></span>
                              <div>
                                <span class="month">nov.</span>
                                <span class="days">14%</span>
                              </div>
                            </div>
                          </div>
                          <div class="time-container tx-falha-conteiner">
                            <span class="time-month">este mês</span>
                            <span class="time-days">11%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="right-panel ">
                      <h2 class="title-secundary">Iniciativas e problemas</h2>
                      <div class="potencial-card">
                        <div class="content-item potencial-content">
                          <div class="potencial-content-left">
                            <span class="rectangle retangle-potencial-left"></span>
                            <div>
                                <span class="month potencial-month">Potencial</span>
                                <span class="days potencial-days">20 dias</span>
                            </div>
                          </div>
                            <div class="potencial-secundary-text">
                              <span>02 problemas a solucionar</span>
                            </div>
                        </div>
                        <div class="problemas-content">
                          <div class="problemas-content-right">
                            <div class="mini-card-estoque">
                              <span class="rectangle"></span>
                              <div class="month problemas-month">
                                <span>Muito estoque para</span><br>
                                <span>homologação</span>
                              </div>
                            </div>
                            <div class="mini-card-estoque">
                              <span class="rectangle"></span>
                              <div class="month problemas-month">
                                <span>Tempo alto de</span><br>
                                <span>homologação</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="throughput-card">
                        <div class="throughput-content-text">
                          <h3 class="throughput-title">Throughput</h3>
                          <div class="throughput-subtext">
                            <p>Baseados nos últimos 90 dias</p>
                          </div>
                        </div>
                        <div class="throughput-grafico">
                          <div style="display: block;">
                            <canvas baseChart
                                    [datasets]="lineChartData"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [legend]="lineChartLegend">
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </ng-template> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="bloco-jornada">
              <h2>Jornada de Transformação</h2>
              <div class="jornada-progress">
                <div class="jornada-level">
                  <span
                    [ngStyle]="{'color': this.getCorJornada(currentMaturidade?.mediaDeJornada, 'Baixa')}">Baixa</span>
                  <span
                    [ngStyle]="{'color': this.getCorJornada(currentMaturidade?.mediaDeJornada, 'Média')}">Média</span>
                  <span [ngStyle]="{'color': this.getCorJornada(currentMaturidade?.mediaDeJornada, 'Alta')}">Alta</span>
                  <span
                    [ngStyle]="{'color': this.getCorJornada(currentMaturidade?.mediaDeJornada, 'Elite')}">Elite</span>
                </div>
                <div class="jornada-bar-content">
                  <div class="jornada-bar">
                    <div class="jornada-goal" [ngStyle]="{'width': currentMaturidade?.mediaDeJornada + '%'}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="saude-operacao">
                <h3>Saúde da Operação</h3>
                <div class="saude-operacao-content">
                  <span class="nivel-saude">
                    {{this.getNivel(currentMaturidade?.saude)}}
                  </span>
                  <span class="rate-saude" [ngStyle]="{'font-size': this.getFontSizeSaude(currentMaturidade?.saude)}">
                    {{currentMaturidade?.saude !== null ? currentMaturidade.saude : ''}}
                    {{currentMaturidade?.saude !== null ? '%' : ''}}
                  </span>
                </div>
              </div>
              <div class="bloco-inferior">
                <div class="jornada-cards-space">
                  <div class="jornada-card">
                    <h3>
                      Atividades<br>
                      <span class="story-points-dash">
                        (últimos 60 dias - jira)
                      </span>
                    </h3>
                    <div class="rate-value-4key">
                      <span>
                        {{allActivities60days.story_count_last60days}}
                      </span>
                      <span class="rate-saude"
                        [ngStyle]="{'font-size': this.getFontSizeMetricas(jiraAllActivities?.story_count)}">
                        {{jiraAllActivities.story_count}}
                        <!--{{currentMaturidade?.capacidadeDora !== null ? '%' : ''}}-->
                      </span>
                    </div>
                    <div class="jornada-card-bar-content"
                      [style.display]="(jiraAllActivities?.story_count === null) ? 'none' : 'block'">
                      <div class="jornada-card-bar">
                        <div class="jornada-card-goal"
                          [ngStyle]="{'width': (allActivities60days?.story_count_last60days !== null ? allActivities60days?.story_count_last60days : 0) + '%'}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jornada-card">
                    <h3>
                      Story Points<br>
                      <span class="story-points-dash">
                        (últimos 60 dias - jira)
                      </span>
                    </h3>
                    <div class="rate-value-4key">
                      <span>
                        {{TotalPointsLast60Days.total_points_last60days}}
                      </span>
                      <span class="rate-saude"
                        [ngStyle]="{'font-size': this.getFontSizeMetricas(TotalPoints?.total_points)}">
                        {{TotalPoints.total_points}}
                      </span>
                    </div>
                    <div class="jornada-card-bar-content"
                      [style.display]="(TotalPoints.total_points === null) ? 'none' : 'block'">
                      <div class="jornada-card-bar">
                        <div class="jornada-card-goal"
                          [ngStyle]="{'width': ((TotalPointsLast60Days.total_points_last60days / TotalPoints.total_points) * 100) + '%'}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="bloco-top-contribuidores">
              <div class="titulo-legenda-top-contribuidores">
                <div class="titulo-top-contribuidores">
                  <h2>
                    Top Contribuidores
                  </h2>
                </div>
                <div class="legenda-top-contribuidores">
                  <div class="ellipse-roxa"></div>
                  <p class="metricas-texto-cultura">Prs Concluídas</p>
                  <div class="ellipse-cinza"></div>
                  <p class="metricas-texto-esperado-cultura">Prs Totais Projeto ({{currentVcsPullRequest60Days.countpr60days}})</p>
                </div>
              </div>
              <div class="pontilhados-top-contribuidores">
                <div class="pontilhados-cultura2">
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                </div>
              </div>
              <div class="top-contribuidores-geral">
                <div class="nome-top-contribuidores">
                  <p *ngFor="let topContribuidor of currentVcsPullRequestTop5">
                    {{topContribuidor.nome}}
                  </p>
                </div>
                <div class="processo-top-contribuidores">
                  <div class="barras-top-contribuidores">
                    <ng-container *ngFor="let topContribuidor of currentVcsPullRequestTop5">
                      <div class="top-contribuidores-barra-meta" [ngStyle]="{'width': '100%'}">
                        <div class="cultura-barra"
                          [ngStyle]="{'width': (topContribuidor.countpr * 100 / topContribuidor.totalprs)  + '%'}">
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="numero-top-contribuidores">
                  <p class="top-contribuidores-num">0</p>
                  <p class="top-contribuidores-num">10</p>
                  <p class="top-contribuidores-num">20</p>
                  <p class="top-contribuidores-num">30</p>
                  <p class="top-contribuidores-num">40</p>
                  <p class="top-contribuidores-num">50</p>
                  <p class="top-contribuidores-num">60</p>
                  <p class="top-contribuidores-num">70</p>
                  <p class="top-contribuidores-num">80</p>
                  <p class="top-contribuidores-num">90</p>
                  <p class="top-contribuidores-num">100</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="espaco-capacidades-recomendadas">
              <div class="capacidades-recomendadas-card">
                <div class="prs-dashboard">
                  <h3>Pull Requests</h3><span>(últimos 60 dias - git)</span>
                  <p>
                    {{currentVcsPullRequest60Days.countpr60days}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Card para a quantidade de épicos nos últimos 60 dias -->
          <div class="col-md-4">
            <div class="historias-epicos-card">
              <div class="historias-epicos-card-content">
                <div class="historias-epicos-card-text">
                  <h2>Épicos</h2><span>(últimos 60 dias)</span>
                  <p>
                      {{jiraEpics.count_epics}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        <!-- Card para o total de histórias -->
        <div class="col-md-4">
            <div class="historias-epicos-card">
                <div class="historias-epicos-card-content">
                    <div class="historias-epicos-card-text">
                        <h2>Tarefas Concluidas</h2><span>(total)</span>
                        <p>
                            {{storiesAndEpicsData.total_stories}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Card para a quantidade média de histórias por épico -->
        <div class="col-md-4">
            <div class="historias-epicos-card">
                <div class="historias-epicos-card-content">
                    <div class="historias-epicos-card-text">
                        <h2>Story Points</h2><span>(média)</span>
                        <p>
                            {{storiesAndEpicsData.average_points}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="bloco-tecnica">
              <div class="tituloLegenda">
                <div class="titulo-tecnica1">
                  <h2 class="titulo-tecnica">Técnica</h2>
                  <!-- <ng-container *ngFor="let valor of uniqueTiposMaturidade; let i = index">
                            <p class="titulo-tecnica" *ngIf="i === 0">
                              {{ valor }}
                            </p>
                          </ng-container> -->
                </div>
                <div class="metricas-ellipse">
                  <div class="ellipse-roxa"></div>
                  <p class="metricas-texto">Atingido</p>
                  <div class="ellipse-cinza"></div>
                  <p class="metricas-texto-esperado">Esperado</p>
                </div>
              </div>
              <div class="pontilhados">
                <div class="pontilhados2">
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                  <div class="pontilhado"></div>
                </div>
              </div>
              <div class="processos-geral">
                <div class="tecnicas-textos">
                  <p class="tecnicas-texto" *ngFor="let valor of valorMaturidadeC">
                    <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'TECNICA'">
                      {{valor.itemDeMaturidade.nome}}
                    </ng-container>
                  </p>
                </div>
                <div class="processo">
                  <div class="barras">
                    <ng-container *ngFor="let valor of valorMaturidadeC; let i = index">
                      <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'TECNICA'">
                        <div [ngStyle]="{'width': valor.valorEsperado  + '%'}" class="barra-arq">
                          <div class="barra" [ngStyle]="{'width': valor.valorAtingido  + '%'}"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="numeros">
                <p class="tecnicas-num">0</p>
                <p class="tecnicas-num">10</p>
                <p class="tecnicas-num">20</p>
                <p class="tecnicas-num">30</p>
                <p class="tecnicas-num">40</p>
                <p class="tecnicas-num">50</p>
                <p class="tecnicas-num">60</p>
                <p class="tecnicas-num">70</p>
                <p class="tecnicas-num">80</p>
                <p class="tecnicas-num">90</p>
                <p class="tecnicas-num">100</p>
              </div>
            </div>
          </div>
          <!--Bloco PROCESSO-->
          <div class="col-md-4">
            <div class="bloco-pequeno">
              <div class="cabecalho-quadro">
                <h2 class="titulo-processo col-md-4">Processo</h2>
                <!-- <ng-container *ngFor="let valor of uniqueTiposMaturidade; let i = index">
                    <p class="titulo-processo col-md-4" *ngIf="i === 2">
                      {{ valor }}
                    </p>
                  </ng-container> -->
                <div class="metricas-legenda col-md-8">
                  <div class="ellipse-azul-processo"></div>
                  <p class="cabecalho-texto">Atingido</p>
                  <div class="ellipse-cinza-processo"></div>
                  <p class="cabecalho-texto">Esperado</p>
                </div>
              </div>
              <div class="pontilhados-processo">
                <div class="pontilhados-processo2">
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                  <div class="tracejado"></div>
                </div>
              </div>
              <div class="processos-geral">
                <div class="processos-textos">
                  <p class="tecnicas-texto" *ngFor="let valor of valorMaturidadeC">
                    <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'PROCESSO'">
                      {{valor.itemDeMaturidade.nome}}
                    </ng-container>
                  </p>
                </div>
                <div class="processo-progresso">
                  <div class="barras-processo">
                    <ng-container *ngFor="let valor of valorMaturidadeC">
                      <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'PROCESSO'">
                        <div [ngStyle]="{'width': valor.valorEsperado + '%'}" class="processo-barra-meta">
                          <div class="processo-barra" [ngStyle]="{'width': valor.valorAtingido + '%'}"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <!--Bloco METRICA-->

            <div class="bloco-pequeno">
              <div class="cabecalho-quadro">
                <h2 class="titulo-processo col-md-4">Métricas</h2>
                <!--<ng-container *ngFor="let valor of uniqueTiposMaturidade; let i = index">
                        <p class="titulo-processo col-md-4" *ngIf="i === 3">
                          {{ valor }}
                        </p>
                       </ng-container> -->

                <div class="metricas-legenda col-md-8">
                  <div class="ellipse-azul-processo"></div>
                  <p class="cabecalho-texto">Atingido</p>
                  <div class="ellipse-cinza-processo"></div>
                  <p class="cabecalho-texto">Esperado</p>
                </div>
              </div>
              <div>
                <div class="pontilhados-metrica">
                  <div class="pontilhados-metrica2">
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                    <div class="tracejado"></div>
                  </div>
                </div>
              </div>
              <div class="metricas-geral">
                <div class="quadro-metricas-textos">
                  <p class="tecnicas-texto" *ngFor="let valor of valorMaturidadeC">
                    <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'METRICA'">
                      {{valor.itemDeMaturidade.nome}}
                    </ng-container>
                  </p>
                </div>
                <div class="metrica-progresso">
                  <div class="barras-metricas">
                    <ng-container *ngFor="let valor of valorMaturidadeC">
                      <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'METRICA'">
                        <div [ngStyle]="{'width': valor.valorEsperado  + '%'}" class="metrica-barra-meta">
                          <div class="metrica-barra" [ngStyle]="{'width': valor.valorAtingido+ '%'}"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="bloco-cultura">
              <div class="tituloLegendaCultura">
                <div class="tituloLegendaCultura1">
                  <h2 class="titulo-cultura">Cultura</h2>
                </div>
                <div class="metricas-cultura">
                  <div class="ellipse-roxa"></div>
                  <p class="metricas-texto-cultura">Atingido</p>
                  <div class="ellipse-cinza"></div>
                  <p class="metricas-texto-esperado-cultura">Esperado</p>
                </div>
              </div>
              <div class="pontilhados-cultura">
                <div class="pontilhados-cultura2">
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                  <div class="pontilhado-cultura"></div>
                </div>
              </div>
              <div class="cultura-geral">
                <div class="cultura-textos">
                  <p class="tecnicas-texto" *ngFor="let valor of valorMaturidadeC">
                    <ng-container *ngIf="valor.itemDeMaturidade.tipoMaturidade === 'CULTURA'">
                      {{valor.itemDeMaturidade.nome}}
                    </ng-container>
                  </p>
                </div>
                <div class="processo-cultura">
                  <div class="barras-cultura">
                    <ng-container *ngFor="let item of valorMaturidadeC">
                      <ng-container *ngIf="item.itemDeMaturidade.tipoMaturidade === 'CULTURA'">
                        <div class="cultura-barra-meta" [ngStyle]="{'width': item.valorEsperado  + '%'}">
                          <div class="cultura-barra" [ngStyle]="{'width': item.valorAtingido  + '%'}"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="numeros-cultura">
                  <p class="cultura-num">0</p>
                  <p class="cultura-num">10</p>
                  <p class="cultura-num">20</p>
                  <p class="cultura-num">30</p>
                  <p class="cultura-num">40</p>
                  <p class="cultura-num">50</p>
                  <p class="cultura-num">60</p>
                  <p class="cultura-num">70</p>
                  <p class="cultura-num">80</p>
                  <p class="cultura-num">90</p>
                  <p class="cultura-num">100</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-maturidade-lg></app-maturidade-lg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>