<section id="secao-dash-projeto">
  <div class="dash-projeto">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="bloco-metricas">
              <div class="caixa-metricas">
                <div class="metricas">
                  <h2 class="titulo-velocidade">Métricas de Velocidade</h2>
                  <div class="espaco-cards">
                    <div class="card velocidade">
                      <p class="titulo-card">Lead Time for Changes</p>
                      <p class="text-number"> <span>{{currentMaturidade.leadTime }}</span>dias</p>
                    </div>
                    <div class="card velocidade">
                      <p class="titulo-card">Deployment Frequency</p>
                      <p class="text-number"> <span>{{currentMaturidade.frequencyDeployment}}</span>dias</p>
                    </div>
                  </div>
                </div>
                <div class="metricas">
                  <h2 class="titulo-estabilidade">Métricas de Estabilidade</h2>
                  <div class="espaco-cards">
                    <div class="card estabilidade">
                      <p class="titulo-card">Change Failure Rate</p>
                      <p class="text-porcent">{{currentMaturidade.changeFailureRate}}%</p>
                    </div>
                    <div class="card estabilidade">
                      <p class="titulo-card">Mean Time to Recovery</p>
                      <p class="text-date">{{currentMaturidade.timeToRecovery }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-resumo">Dados baseados nos últimos 90 dias.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bloco-jornada">
              <h2>Jornada de Transformação</h2>
              <div class="jornada-progress">
                <div class="jornada-level">
                  <span [ngStyle]="{'color': this.getCorJornada(currentMaturidade.mediaDeJornada, 'Baixa')}">Baixa</span>
                  <span [ngStyle]="{'color': this.getCorJornada(currentMaturidade.mediaDeJornada, 'Média')}">Média</span>
                  <span [ngStyle]="{'color': this.getCorJornada(currentMaturidade.mediaDeJornada, 'Alta')}">Alta</span>
                  <span [ngStyle]="{'color': this.getCorJornada(currentMaturidade.mediaDeJornada, 'Elite')}">Elite</span>
                </div>
                <div class="jornada-bar-content">
                  <div class="jornada-bar">
                    <div class="jornada-goal"
                    [ngStyle]="{'width': currentMaturidade.mediaDeJornada + '%'}"
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="saude-operacao">
              <h3>Saúde da Operação</h3>
              <div class="saude-operacao-content">
                <span class="nivel-saude">
                  {{this.getNivel(currentMaturidade.saude).toString()}}
                </span>
                <span class="rate-saude">
                  {{currentMaturidade.saude.toString()}}%
                </span>
              </div>
            </div>
            <div class="bloco-inferior">
              <div class="jornada-cards-space">
                <div class="jornada-card">
                  <h3>
                    Métrica 4 Key
                  </h3>
                  <div class="rate-value-4key">
                    <span>
                      {{ this.getNivel(currentMaturidade.metricas4).toString() }}
                    </span>
                    <span>
                      {{ (currentMaturidade.metricas4).toString() }}%
                    </span>
                  </div>
                  <div class="jornada-card-bar-content">
                    <div class="jornada-card-bar">
                      <div class="jornada-card-goal"
                      [ngStyle]="{'width': currentMaturidade.metricas4 + '%'}"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="jornada-card">
                <h3>
                  Capacidade DORA
                </h3>
                <div class="rate-value-4key">
                  <span>
                    {{ this.getNivel(currentMaturidade.capacidadeDora).toString() }}
                  </span>
                  <span>
                    {{ currentMaturidade.capacidadeDora}}%
                  </span>
                </div>
                <div class="jornada-card-bar-content">
                  <div class="jornada-card-bar">
                    <div class="jornada-card-goal"
                    [ngStyle]="{'width': (currentMaturidade.capacidadeDora).toString() + '%'}"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="espaco-capacidades-recomendadas">
            <h3>Capacidades Recomendadas</h3>
            <div class="capacidades-recomendadas-card">
              <ul>
                <li *ngFor="let capacidadeNome of capacidade">
                  {{(capacidadeNome.itemDeMaturidade.nome).toString()}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-tecnica></app-tecnica>
  <div class="row">
    <div class="col-md-12">
      <div class="bloco-cultura">
        <h2 class="titulo-cultura">Cultura</h2>
        <div class="metricas-maturidade">
          <div class="ellipse-roxa"></div>
          <p class="metricas-texto">Atingido</p>
          <div class="ellipse-cinza"></div>
          <p class="metricas-texto-esperado">Esperado</p>
        </div>

        <div class="culturas-textos">
          <div class="pontilhado-cultura"></div>
          <p class="culturas-texto1">Satisfação no Trabalho</p>
          <p class="culturas-texto2">Cultura de Westrum</p>
          <p class="culturas-texto3">Cultura de Aprendizado</p>
          <p class="culturas-texto4">Liderança Transformacional</p>

          <ng-container *ngFor="let item of valorMaturidadeCultura; let i = index">
            <div class="cultura-barra{{i+1}}-meta" [ngStyle]="{'width': item.valorEsperado * 306 + '%'}">
              <div class="cultura-barra{{i+1}}" [ngStyle]="{'width': item.valorAtingido * 100 + '%'}"></div>
            </div>
          </ng-container>
          <div class="pontilhado-cultura2"></div>
          <div class="pontilhado-cultura3"></div>
          <div class="pontilhado-cultura4"></div>
          <div class="pontilhado-cultura5"></div>
          <div class="pontilhado-cultura6"></div>
          <div class="pontilhado-cultura7"></div>
          <div class="pontilhado-cultura8"></div>
          <div class="pontilhado-cultura9"></div>
          <div class="pontilhado-cultura10"></div>
          <div class="pontilhado-cultura11"></div>
        </div>

        <div class="numeros">
          <p class="tecnicas-num">0</p>
          <p class="tecnicas-num">10</p>
          <p class="tecnicas-num">20</p>
          <p class="tecnicas-num">30</p>
          <p class="tecnicas-num">40</p>
          <p class="tecnicas-num">50</p>
          <p class="tecnicas-num">60</p>
          <p class="tecnicas-num">70</p>
          <p class="tecnicas-num">80</p>
          <p class="tecnicas-num">90</p>
          <p class="tecnicas-num">100</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

</section>
