<section class="secao-genai">
    <div class="genai-page">
        <app-sidebar-menu></app-sidebar-menu>
        <div class="genai-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img class="logo-elastic-dev img-fluid" src="../../../assets/images/Elastic_Dev_-_Preto_1.png">
                    </div>
                    <div class="col-md-12">
                        <div class="genai-menu-buttons">
                            <button *ngFor="let button of genaiMenu" [title]="button.title"
                                [disabled]="button.status === 'disabled'"
                                [class.genai-btn-selected]="selectedButtonId === button.id"
                                (click)="genAiButtonSelected(button.id)">
                                <img [src]="button.icon" [alt]="button.title"
                                    [class.disabled-img]="button.status === 'disabled'" />
                                <span>{{ button.title }}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="showCard">
                        <div class="card genai-card">
                            <div class="card-body">
                                <div class="prompt-title-space">
                                    <h5 class="card-title">Geração de Código</h5>
                                    <button type="button" class="btn btn-primary" (click)="open(PromptsHistoryModal)">
                                        Prompts Gerados: {{this.contElasticPrompts}} >
                                    </button>
                                </div>
                                <!-- Modal de histórico de prompts gerados pelo desenvolvedor -->
                                <ng-template #PromptsHistoryModal let-modal>
                                    <div class="modal-body custom-modal">
                                        <!-- Lista de Prompots gerados pelo desenvolvedor para a esteira atual -->
                                        <ul *ngIf="!showModalContent" class="google-list">
                                            <li *ngFor="let prompt of promptsByUserEsteiraId">
                                                <div class="list-item">
                                                    <h3>Entidade: {{ prompt.entidade }}</h3>
                                                    <p>Tipo de Código: {{ prompt.tipo_codigo }} | Stack: {{ prompt.stack }}</p>
                                                  </div>
                                            </li>
                                        </ul>
                                        <!-- Modal de detalhes do prompt selecionado na lista-->
                                         <div *ngIf="showModalContent">
                                            <button class="btn-voltar" >Voltar</button>
                                         </div>
                                    </div>
                                </ng-template>
                                <form (ngSubmit)="generateCode()">
                                    <div class="mb-3">
                                        <label class="form-label">Tipo de Stack</label>
                                        <div class="stack-type-options">
                                            <div>
                                                <input type="radio" id="frontend" name="stackType" value="Frontend"
                                                    [(ngModel)]="stackType"
                                                    (change)="filterCodeTypes(); checkFormValidity()" required>
                                                <label for="frontend">Frontend</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="backend" name="stackType" value="Backend"
                                                    [(ngModel)]="stackType"
                                                    (change)="filterCodeTypes(); checkFormValidity()" required>
                                                <label for="backend">Backend</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="codeType" class="form-label">Tipo de Código</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="codeType"
                                            [(ngModel)]="codeType"
                                            name="codeType"
                                            (input)="updateSuggestions(codeType || ''); clearGeneratedCode(); checkFormValidity()"
                                            (focus)="showSuggestions()" 
                                            (blur)="hideSuggestions()" 
                                            autocomplete="off"
                                            placeholder="Informe o tipo de código" 
                                            required
                                        >
                                        <ul class="suggestions"
                                            *ngIf="filteredCodeTypes.length > 0 && suggestionsVisible">
                                            <li *ngFor="let suggestion of filteredCodeTypes"
                                                (click)="selectSuggestion(suggestion)">
                                                {{ suggestion.tipo_de_codigo }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mb-3">
                                        <label for="goal" class="form-label">Entidade</label>
                                        <input class="form-control" id="goal" [(ngModel)]="entity" name="goal"
                                            (input)="clearGeneratedCode(); checkFormValidity()"
                                            placeholder="Informe a entidade do projeto" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="table" class="form-label">Tabela</label>
                                        <input class="form-control" id="table" [(ngModel)]="table" name="table"
                                            (input)="clearGeneratedCode()"
                                            placeholder="Informe a tabela para referência">
                                    </div>
                                    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid">Gerar
                                        Prompt</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="generatedCode">
                        <div class="card genai-card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Prompt Gerado</h5>
                                <div class="copy-container">
                                    <pre><code>{{ generatedCode }}</code></pre>
                                    <button class="btn btn-secondary" (click)="copyToClipboard()">Copiar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>