<section id="secao-registro-dev">
    <div class="registro-dev">
        <app-sidebar-menu></app-sidebar-menu>
        <div class="registro-dev-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Cadastrar Desenvolvedor
                        </h1>
                    </div>
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
