.filter .dropdownmenu
  max-height: 20rem
  overflow-y: auto

.main
  display: flex

.dev-dashboard
  margin-left: 80px

.card h2
  color: #07347e

.card p
  margin-top: 10px
  text-align: justify
  padding: 0 5px
