.dropdown-dev-toggle
  margin-left: 5px
  border: 1px solid #a19c9c
  border-radius: 5px
  padding: 10px
  background-color: #FFF
  font-size: 16px
  font-weight: 500
  color: #a19c9c

.filter .dropdownmenu
  max-height: 20rem
  overflow-y: auto

.main
  display: flex

.dev-dashboard
  margin-left: 80px

.card h2
  color: #07347e

.card p
  margin-top: 10px
  text-align: justify
  padding: 0 5px
