<section id="secao-maturidade-tecnica">
    <div class="maturidade-tecnica">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="bloco-geral">
                        <div class="bloco-tecnica">
                            <h2 class="titulo-tecnica">Técnica</h2>

                            <div class="metricas">
                                <div class="ellipse-roxa"></div>
                                <p class="metricas-texto">Atingido</p>
                                <div class="ellipse-cinza"></div>
                                <p class="metricas-texto-esperado">Esperado</p>
                            </div>

                            <div class="tecnicas-textos"> 
                                <div class="pontilhado"></div>
                                <p class="tecnicas-texto">Arquitetura</p>
                                <div class="barra-arq1">
                                    <div class="barra1"></div>
                                </div>
                                <div class="pontilhado2"></div>
                                <p class="tecnicas-texto">Ger. de Mudança</p>
                                <div class="barra-arq2">
                                    <div class="barra2"></div>
                                </div>
                                <div class="pontilhado3"></div>
                                <p class="tecnicas-texto">Auto. de Implantação</p>
                                <div class="barra-arq3">
                                    <div class="barra3"></div>
                                </div>
                                <div class="pontilhado4"></div>
                                <p class="tecnicas-texto">Geren. de teste</p>
                                <div class="barra-arq4">
                                    <div class="barra4"></div>
                                </div>
                                <div class="pontilhado5"></div>
                                <p class="tecnicas-texto">Integração contínua</p>
                                <div class="barra-arq5">
                                    <div class="barra5"></div>
                                </div>
                                <div class="pontilhado6"></div>
                                <p class="tecnicas-texto">Ferramenta de times</p>
                                <div class="barra-arq6">
                                    <div class="barra6"></div>
                                </div>
                                <div class="pontilhado7"></div>
                                <p class="tecnicas-texto">Controle de versão</p>
                                <div class="barra-arq7">
                                    <div class="barra7"></div>
                                </div>
                                <div class="pontilhado8"></div>
                                <p class="tecnicas-texto">Manut. de código</p>
                                <div class="barra-arq8">
                                    <div class="barra8"></div>
                                </div>
                                <div class="pontilhado9"></div>
                                <div class="pontilhado10"></div>
                                <div class="pontilhado11"></div>
                            </div>

                            <div class="numeros">
                                <p class="tecnicas-num">0</p>
                                <p class="tecnicas-num">10</p>
                                <p class="tecnicas-num">20</p>
                                <p class="tecnicas-num">30</p>
                                <p class="tecnicas-num">40</p>
                                <p class="tecnicas-num">50</p>
                                <p class="tecnicas-num">60</p>
                                <p class="tecnicas-num">70</p>
                                <p class="tecnicas-num">80</p>
                                <p class="tecnicas-num">90</p>
                                <p class="tecnicas-num">100</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
