.bloco-geral
    margin-top:30px


.bloco-tecnica
    border-radius: 15px
    background: #F6F8FF
    box-shadow: 0px 3.352px 3.352px 0px rgba(0, 0, 0, 0.05)
    width: 820px
    height: 500px
    display:flex
    
.titulo-tecnica
    color: #141414
    font-family: Poppins
    font-size: 18px
    font-style: normal
    font-weight: 600
    line-height: normal
    padding: 35px 39px

.metricas
    position: relative
    bottom:55px



.tecnicas-texto
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-weight: 400
    margin-bottom:1px
    
    
    

.tecnicas-textos
    text-align: right
    max-width: 260px
    position: relative
    bottom:100px
    right:70px
   

.pontilhado 
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 291px
    top:20px
    
.pontilhado2
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 341px
    top:20px

.pontilhado3
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 393px
    top:20px

.pontilhado4
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 449px
    top:20px

.pontilhado5
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 504px
    top:20px

.pontilhado6
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 559px
    top:20px

.pontilhado7
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 614px
    top:20px
    
.pontilhado8
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 670px
    top:20px

.pontilhado9
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 724px
    top:20px

.pontilhado10
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 310px
    left: 780px
    top:20px

.pontilhado11
    position: absolute
    z-index: 0
    border-right: 1px dashed #d2d2d2
    height: 325px
    left: 839px
    top:5px

.texto-boostrap
    text-align: right
    max-width: 290px

.ellipse-roxa
    width: 15px
    height: 15px
    border-radius:50%
    background-color: #6A5FFF
    position: relative
    left: 373px

.metricas-texto
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-style: normal
    font-weight: 400
    position: relative
    left: 410px
    bottom:18px

.ellipse-cinza
    width: 15px
    height: 15px
    border-radius:50%
    background-color: #D9D9D9
    position: relative
    left: 493px
    bottom:50px

.metricas-texto-esperado
    color: #141414
    font-family: Poppins
    font-size: 14px
    font-style: normal
    font-weight: 400
    position: relative
    left: 530px
    bottom:68px

.numeros
    display: flex
    flex-direction: row
    position: relative
    bottom:130px
    left:198px

.barra-arq1
    width: 509px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq2
    width: 350px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq3
    width: 462px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1
    
.barra-arq4
    width: 345px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq5
    width: 501px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq6
    width: 211px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq7
    width: 407px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra-arq8
    width: 529px
    height: 21px
    border-radius: 100px
    background: #ABABAB
    position: relative
    left:290px
    bottom:23px
    z-index:1

.barra1
    width: 217px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra1-1
    width: 217px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra2
    width: 253px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra2-2
    width: 253px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF


.barra3
    width: 156px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra4
    width: 291px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra5
    width: 426px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra6
    width: 122px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra7
    width: 280px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.barra8
    width: 108px
    height: 21px
    flex-shrink: 0
    border-radius: 100px
    background: #6A5FFF

.tecnicas-num
    margin:19px
    color: #141414
    text-align: center
    font-family: Poppins
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: normal


.progress-bar-content
    position: relative
    padding: 5px 0

.progress-bar
    width: 100%
    height: 20px
    border-radius: 10px
    background-color: #e2e2e2

.progress-goal
    height: 20px
    border-radius: 10px

.competencies .progress-goal
    background-color: #0f9caf

.courses .progress-goal
    background-color: #cd4e4e
    display: flex
    justify-content: flex-end
    align-items: center

.courses .progress-goal span
    margin: 0 8px
    color: #FFF
    font-size: 12px
    font-weight: 700


.goal-value
    position: absolute
    top: 0px
    width: 30px
    height: 30px
    background-color: #dbae2b
    border: 2px solid #FFF
    border-radius: 15px
    display: flex
    align-items: center
    justify-content: center

.goal-value span
    font-size: 12px
    font-weight: 700
    color: #fff


